In [ ]:
##Numerical / categorical - Ordinal (Low,Mediem ,High- Distinction,FIrst class) and Nominal (W.B.Goa)
##Nominal encoding - One Hot Encoding
##Ordinal ENcosding - Label Encoding
##https://www.delftstack.com/howto/python-pandas/pandas-replace-values-in-column/