In [1]:
# Author Soma Nayak
##Date - 06-02-2022
##Numerical / categorical - Ordinal (Low,Mediem ,High- Distinction,FIrst class) and Nominal (W.B.Goa)
##Nominal encoding - One Hot Encoding
##Ordinal ENcosding - Label Encoding
##https://www.delftstack.com/howto/python-pandas/pandas-replace-values-in-column/

In [3]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('customer.csv')

In [17]:
df.sample(5)

   age  gender   review education purchased
4   30    male     Good    School        No
8   36  female  Average    School        No
6   39  female  Average    School       Yes
1   30    male     Poor        UG       Yes
0   30  female  Average    School        No

In [18]:
df = df.iloc[:,2:]

In [21]:
df

    review education purchased
0  Average    School        No
1     Poor        UG       Yes
2     Good        PG        No
3  Average        PG       Yes
4     Good    School        No
5     Poor        UG        No
6  Average    School       Yes
7  Average    School        No
8  Average    School        No

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OrdinalEncoder

In [52]:
X_train,X_test,Y_train,Y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [56]:
Y_train

8     No
0     No
3    Yes
6    Yes
4     No
7     No
5     No
Name: purchased, dtype: object

In [35]:
oe_Data = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])
oe_Data

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [36]:
oe_Data.fit(X_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [39]:
X_train

    review education
8  Average    School
5     Poor        UG
3  Average        PG
7  Average    School
4     Good    School
1     Poor        UG
6  Average    School

In [58]:
x_train_trans = oe_Data.transform(X_train)
x_train_trans
oe_Data.transform(X_test)

array([[0., 1.],
       [2., 2.]])

In [59]:
from sklearn.preprocessing import LabelEncoder

In [61]:
ol_encode = LabelEncoder()

In [62]:
ol_encode.fit(Y_train)

LabelEncoder()

In [69]:
tran_y = ol_encode.transform(Y_train)
tran_ytest = ol_encode.transform(Y_test)

In [70]:
tran_y,tran_ytest

(array([0, 0, 1, 1, 0, 0, 0]), array([1, 0]))